.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.operation-control {
    color: #ccc;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #a4a4a4;
    margin: 2px;
    cursor: pointer;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: ghostwhite;
}

ul li {
    text-align: left;
}

.pointer {
    cursor: pointer;
}

input[type=range] {
    -webkit-appearance: none;
    width: 140px;
    display: inline-block;
    padding: 35px 5px;
    background-color: inherit;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

.button {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.icon {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-size: cover;
    background: no-repeat center center;
}

.icon-no-press {
    display: inline-block;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
}

.controls-wrapper {
    text-align: left;
    padding: 0 10px 10px;
    margin: 0 5px 5px;
}

.device-item {
    display: inline-block;
    width: 100px;
}

.device-item-with-range {
    display: inline-block;
    width: 230px;
}

.w3-ul {
    /* border-bottom: 1px solid #ddd; */
    display: block;
}

.w3-ul-2 {
    display: table;
    margin: auto;
}

.w3-ul li,
.w3-ul-2 li {
    border-bottom: none;
    line-height: .8;
}

.w3-ul li a,
.w3-ul-2 li a {
    text-decoration: none;
    font-size: x-large;
}

.clock .hour,
.clock .minute,
.clock .second,
.clock .period {
    font-size: 4em;
    font-weight: bold;
}

.clock .colon {
    font-size: 2em;
    padding: 5px;
}

.clock {
    color: rgb(255, 199, 86);
}